<!-- Check if bookmarks is not null and has items -->
<ng-container *ngIf="bookmarks && bookmarks.length > 0; else noBookmarks">
    <!-- Render bookmarks if they exist -->
    <app-bookmark
      *ngFor="let bookmark of bookmarks"
      [bookmark]="bookmark"
      class="display-flex justify-center"
      (emitBookmark)="editBookmark($event)"
      (emitDelete)="openDialog($event)">
    </app-bookmark>
</ng-container>

<!-- Fallback message if bookmarks is null or empty -->
<ng-template #noBookmarks>
    <div class="centered-message">
        <p>There are no bookmarks yet!</p>
    </div>
</ng-template>